#paige-authors,
#paige-breadcrumbs,
#paige-credit,
#paige-date,
#paige-keywords,
#paige-reading-time,
#paige-series,
#paige-toc,
.paige-authors,
.paige-date,
.paige-date-header,
.paige-keywords,
.paige-reading-time,
.paige-series,
.paige-summary {
    display: none;
}

body, html {
    font-family: 'Inter', sans-serif;
    /* font-size:x-large; */
}
h1, h2, h3, h4 {
    text-transform: uppercase;
}

.nav-item {
    text-transform: uppercase;
}